@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);
/* cyrillic */


@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt5D4hTxM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt7j4hTxM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt4D4h.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt5D4hTxM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt7j4hTxM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zUtBhPNqw73oHt4D4h.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73oDd4iYl.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73ord4iYl.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73oTd4g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73oDd4iYl.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73ord4iYl.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v6/92zatBhPNqw73oTd4g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Dancing Script', handwriting;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sweeB226vK .navbar-dropdown {
  position: relative !important;
}
.cid-sweeB226vK .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sweeB226vK .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sweeB226vK .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sweeB226vK .dropdown-item:hover,
.cid-sweeB226vK .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sweeB226vK .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sweeB226vK .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sweeB226vK .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sweeB226vK .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sweeB226vK .nav-link {
  position: relative;
}
.cid-sweeB226vK .container {
  display: flex;
  margin: auto;
}
.cid-sweeB226vK .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sweeB226vK .dropdown-menu,
.cid-sweeB226vK .navbar.opened {
  background: #fafafa !important;
}
.cid-sweeB226vK .nav-item:focus,
.cid-sweeB226vK .nav-link:focus {
  outline: none;
}
.cid-sweeB226vK .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sweeB226vK .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sweeB226vK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sweeB226vK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sweeB226vK .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sweeB226vK .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sweeB226vK .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fafafa;
}
.cid-sweeB226vK .navbar.opened {
  transition: all 0.3s;
}
.cid-sweeB226vK .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sweeB226vK .navbar .navbar-logo img {
  width: auto;
}
.cid-sweeB226vK .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sweeB226vK .navbar.collapsed {
  justify-content: center;
}
.cid-sweeB226vK .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sweeB226vK .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sweeB226vK .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-sweeB226vK .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sweeB226vK .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sweeB226vK .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sweeB226vK .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sweeB226vK .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sweeB226vK .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sweeB226vK .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sweeB226vK .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sweeB226vK .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sweeB226vK .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sweeB226vK .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sweeB226vK .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sweeB226vK .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sweeB226vK .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sweeB226vK .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sweeB226vK .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sweeB226vK .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sweeB226vK .navbar.navbar-short {
  min-height: 60px;
}
.cid-sweeB226vK .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sweeB226vK .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sweeB226vK .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sweeB226vK .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sweeB226vK .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sweeB226vK .dropdown-item.active,
.cid-sweeB226vK .dropdown-item:active {
  background-color: transparent;
}
.cid-sweeB226vK .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sweeB226vK .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sweeB226vK .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sweeB226vK .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-sweeB226vK .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sweeB226vK .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sweeB226vK ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sweeB226vK .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sweeB226vK button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sweeB226vK button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sweeB226vK button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sweeB226vK button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sweeB226vK button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sweeB226vK button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sweeB226vK nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sweeB226vK nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sweeB226vK nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sweeB226vK nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sweeB226vK .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sweeB226vK a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sweeB226vK .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sweeB226vK .navbar {
    height: 70px;
  }
  .cid-sweeB226vK .navbar.opened {
    height: auto;
  }
  .cid-sweeB226vK .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-swefjZI4dW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/photo-1619965238746-1024x1024.png");
}
.cid-swefjZI4dW .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-swefjZI4dW .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-swefjZI4dW .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sweoSulb7a {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sweoSulb7a .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sweoSulb7a .carousel {
    min-height: 800px;
  }
  .cid-sweoSulb7a .carousel img {
    max-height: 800px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sweoSulb7a .carousel {
    min-height: 520px;
  }
  .cid-sweoSulb7a .carousel img {
    max-height: 520px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sweoSulb7a .carousel {
    min-height: 440px;
  }
  .cid-sweoSulb7a .carousel img {
    max-height: 440px;
    object-fit: contain;
  }
  .cid-sweoSulb7a .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sweoSulb7a .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sweoSulb7a .carousel,
.cid-sweoSulb7a .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sweoSulb7a .item-wrapper {
  width: 100%;
}
.cid-sweoSulb7a .carousel-caption {
  bottom: 40px;
}
.cid-sweoSulb7a .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sweoSulb7a .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sweoSulb7a .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sweoSulb7a .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sweoSulb7a .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sweoSulb7a .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sweoSulb7a .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sweoSulb7a .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sweoSulb7a .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sweoSulb7a .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sweoSulb7a .carousel-indicators li.active,
.cid-sweoSulb7a .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sweoSulb7a .carousel-indicators li::after,
.cid-sweoSulb7a .carousel-indicators li::before {
  content: none;
}
.cid-sweoSulb7a .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sweoSulb7a .carousel-indicators {
    display: none !important;
  }
}
.cid-sweoSulb7a P {
  color: #fafafa;
  text-align: center;
}
.cid-sweoSulb7a H5 {
  color: #000000;
}
.cid-swevgMQxMZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/library.jpeg");
}
.cid-swevgMQxMZ .item {
  padding-bottom: 2rem;
}
.cid-swevgMQxMZ .item-wrapper {
  position: relative;
}
.cid-swevgMQxMZ .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-swevgMQxMZ .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-swevgMQxMZ .carousel-control,
.cid-swevgMQxMZ .close {
  background: #1b1b1b;
}
.cid-swevgMQxMZ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-swevgMQxMZ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-swevgMQxMZ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-swevgMQxMZ .carousel-control-next span {
  margin-left: 5px;
}
.cid-swevgMQxMZ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-swevgMQxMZ .close::before {
  content: '\e91a';
}
.cid-swevgMQxMZ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-swevgMQxMZ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-swevgMQxMZ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swevgMQxMZ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-swevgMQxMZ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-swevgMQxMZ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-swevgMQxMZ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-swevgMQxMZ .carousel-indicators li.active,
.cid-swevgMQxMZ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-swevgMQxMZ .carousel-indicators li::after,
.cid-swevgMQxMZ .carousel-indicators li::before {
  content: none;
}
.cid-swevgMQxMZ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-swevgMQxMZ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-swevgMQxMZ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-swevgMQxMZ .carousel-indicators {
    display: none;
  }
}
.cid-swevgMQxMZ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-swevgMQxMZ .carousel-inner > .active {
  display: block;
}
.cid-swevgMQxMZ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swevgMQxMZ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-swevgMQxMZ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-swevgMQxMZ .carousel-control,
  .cid-swevgMQxMZ .carousel-indicators,
  .cid-swevgMQxMZ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-swevgMQxMZ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-swevgMQxMZ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-swevgMQxMZ .carousel-indicators .active,
.cid-swevgMQxMZ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-swevgMQxMZ .carousel-indicators .active {
  background: #fff;
}
.cid-swevgMQxMZ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-swevgMQxMZ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-swevgMQxMZ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-swevgMQxMZ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-swevgMQxMZ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-swevgMQxMZ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-swevgMQxMZ .carousel {
  width: 100%;
}
.cid-swevgMQxMZ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-swevgMQxMZ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-swevgMQxMZ .modal.fade .modal-dialog,
.cid-swevgMQxMZ .modal.in .modal-dialog {
  transform: none;
}
.cid-swevgMQxMZ .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-swevgMQxMZ H6 {
  text-align: center;
  color: #000000;
}
.cid-swevgMQxMZ H3 {
  color: #fafafa;
}
.cid-swevgMQxMZ H4 {
  color: #000000;
}
.cid-sweD8Q9Sg7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/142186706-clock-with-roman-numerals-always-indicate-correct-time-in-office-focus-on-foreground-with-desk-alarm.jpeg");
}
.cid-sweD8Q9Sg7 .mbr-overlay {
  background: #fafafa;
  opacity: 0.1;
}
.cid-sweD8Q9Sg7 img,
.cid-sweD8Q9Sg7 .item-img {
  width: 100%;
}
.cid-sweD8Q9Sg7 .item:focus,
.cid-sweD8Q9Sg7 span:focus {
  outline: none;
}
.cid-sweD8Q9Sg7 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sweD8Q9Sg7 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sweD8Q9Sg7 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sweD8Q9Sg7 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sweD8Q9Sg7 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sweD8Q9Sg7 .mbr-section-title {
  color: #232323;
}
.cid-sweD8Q9Sg7 .mbr-text,
.cid-sweD8Q9Sg7 .mbr-section-btn {
  text-align: left;
}
.cid-sweD8Q9Sg7 .item-title {
  text-align: left;
}
.cid-sweD8Q9Sg7 .item-subtitle {
  text-align: center;
}
.cid-sweEMjmYWA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/getty-641330626.jpeg");
}
.cid-sweEMjmYWA .mbr-overlay {
  background: #fafafa;
  opacity: 0.1;
}
.cid-sweEMjmYWA img,
.cid-sweEMjmYWA .item-img {
  width: 100%;
}
.cid-sweEMjmYWA .item:focus,
.cid-sweEMjmYWA span:focus {
  outline: none;
}
.cid-sweEMjmYWA .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sweEMjmYWA .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sweEMjmYWA .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sweEMjmYWA .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sweEMjmYWA .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sweEMjmYWA .mbr-section-title {
  color: #232323;
}
.cid-sweEMjmYWA .mbr-text,
.cid-sweEMjmYWA .mbr-section-btn {
  text-align: left;
}
.cid-sweEMjmYWA .item-title {
  text-align: left;
}
.cid-sweEMjmYWA .item-subtitle {
  text-align: center;
}
.cid-sweQsFiks1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/91dmycghekl.jpeg");
}
.cid-sweQsFiks1 .mbr-overlay {
  background: #c50a0a;
  opacity: 0.1;
}
.cid-sweQsFiks1 img,
.cid-sweQsFiks1 .item-img {
  width: 100%;
}
.cid-sweQsFiks1 .item:focus,
.cid-sweQsFiks1 span:focus {
  outline: none;
}
.cid-sweQsFiks1 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sweQsFiks1 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sweQsFiks1 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sweQsFiks1 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sweQsFiks1 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sweQsFiks1 .mbr-section-title {
  color: #232323;
}
.cid-sweQsFiks1 .mbr-text,
.cid-sweQsFiks1 .mbr-section-btn {
  text-align: left;
}
.cid-sweQsFiks1 .item-title {
  text-align: left;
}
.cid-sweQsFiks1 .item-subtitle {
  text-align: center;
}
.cid-sweQtAL3JY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1.jpg");
}
.cid-sweQtAL3JY .mbr-overlay {
  background: #ffffff;
  opacity: 0.1;
}
.cid-sweQtAL3JY img,
.cid-sweQtAL3JY .item-img {
  width: 100%;
}
.cid-sweQtAL3JY .item:focus,
.cid-sweQtAL3JY span:focus {
  outline: none;
}
.cid-sweQtAL3JY .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sweQtAL3JY .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sweQtAL3JY .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sweQtAL3JY .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sweQtAL3JY .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sweQtAL3JY .mbr-section-title {
  color: #232323;
}
.cid-sweQtAL3JY .mbr-text,
.cid-sweQtAL3JY .mbr-section-btn {
  text-align: left;
}
.cid-sweQtAL3JY .item-title {
  text-align: left;
}
.cid-sweQtAL3JY .item-subtitle {
  text-align: center;
}
.cid-swf17XtxaK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #9fdbf8;
}
.cid-swf17XtxaK blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-swf2ik3zQA {
  background-image: url("../../../assets/images/book-lovers-understand-1.jpeg");
}
.cid-swf2ik3zQA .mbr-text,
.cid-swf2ik3zQA .mbr-section-btn {
  color: #232323;
}
.cid-swf2ik3zQA .btn {
  width: 100%;
}
.cid-swf2ik3zQA .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-swf2cBXoKc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/photo-1619965238746-1024x1024.png");
}
.cid-swf2cBXoKc .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-swf2cBXoKc .bg-facebook:hover {
  background: #0b60cb;
}
.cid-swf2cBXoKc .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-swf2cBXoKc .bg-twitter:hover {
  background: #0c85d0;
}
.cid-swf2cBXoKc .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-swf2cBXoKc .bg-instagram:hover {
  background: #bd005c;
}
.cid-swf2cBXoKc .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-swf2cBXoKc [class^="socicon-"]:before,
.cid-swf2cBXoKc [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
